@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

html {
  --bg-color: #FAF3F3;
  --title-color: #181C43;
  --description-color: #3E4462;
  --button-bg: #1E1A3E;
  --sign-question: #1E1A3E;
  --form-bg: #FFFFFF;
  --input-bg: #F3F3FA;
  --text-color: rgba(0, 0, 0, 0.8);
  --error-color: #FF6683;
  --tooltip-bg: #1E1A3E;
  --tooltip-color: #F3F3F3;
}

body {
  background-color: var(--bg-color);
  min-width: 300px;
  font-family: 'Inter', sans-serif;
  height: 100vh;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

button {
  font-family: 'Inter';
}

a {
  text-decoration: none;
  color: inherit;
}

.sign__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: start .5s 1 ease;
}

@keyframes start {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to{
    transform: none;
    opacity: 1;
  }
}

.tippy-box[data-theme~='main'] {
  background-color: var(--tooltip-bg);
  color: var(--tooltip-color);
  text-align: center;
  border-radius: 10px;
  font-size: 10px;
  line-height: 14px;
}

.tippy-box[data-theme~='main'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--tooltip-bg);
}
.tippy-box[data-theme~='main'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: var(--tooltip-bg);
}
.tippy-box[data-theme~='main'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: var(--tooltip-bg);
}
.tippy-box[data-theme~='main'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: var(--tooltip-bg);
}